
/* Form Container */
form#editForm {
    display: flex;
    flex-direction: column;
    width: 300px; /* Adjust width as needed */
    padding: 10px;
    border: 4px solid black;
    border-radius: 8px;
    box-shadow: none;
    background-color:  rgb(203, 221, 186);
    position: fixed;
    font-family: monospace;
    font-size: 16px;
    z-index: 100;
    right: 0;
    top: 0;
}

/* Form Labels */
form#editForm label {
    margin-top: 5px;
    font-weight: bold;
    color: #333;
}

/* Form Inputs */
form#editForm input[type="text"] {
    width: calc(100% - 10px);
    padding: 1px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: monospace;
    font-size: 16px;
}

/* Submit Button */
form#editForm button[type="submit"] {
    margin-top: 20px;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: hotpink;
    color: white;
    font-size: 2.2vh;
    font-family: monospace;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* Submit Button Hover Effect */
form#editForm button[type="submit"]:hover {
    background-color: black;
}
