
/* Form Container */
form#editForm {
    display: flex;
    flex-direction: column;
    width: 20vw; /* Adjust width as needed */
    padding: 0.5vw;
    border: 0.1vw solid rgba(0, 0, 0, 0.44);
    border-radius: 0.1vw;
    box-shadow: none;
    background-color: rgba(77, 77, 65, 0.7);
    position: fixed;
    font-family: monospace;
    font-size: 0.8vw;
    z-index: 2000;
    right: 0;
    top: 0;
}

/* Form Labels */
form#editForm label {
    margin-top: 0.1vh;
    font-weight: bold;
    color: orange;
}

/* Form Inputs (text) */
form#editForm input[type="text"],
form#editForm input[type="date"],
form#editForm select {
    width: calc(100% - 0.1vw);
    height: 1.5vw;
    padding: 0.1vh;
    margin-top: 0.1vh;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: monospace;
    font-size: 1vw;
}

/* Form Inputs (text) */
form#editForm input[type="number"] {
    width: calc(100% - 0.1vw);
    height: 1.5vw;
    padding: 0.1vh;
    margin-top: 0.1vh;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: monospace;
    font-size: 1vw;
}

/* Submit Button */
form#editForm button[type="submit"] {
    margin-top: 1vh;
    padding: 0.5vw;
    border: none;
    border-radius: 0.5vw;
    background-color: #4CAF50;
    color: white;
    font-size: 2.2vh;
    font-family: monospace;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* Submit Button Hover Effect */
form#editForm button[type="submit"]:hover {
    background-color: #156a19;
}
