.tree {
position: relative;
left: 0;
width: 100vw;
height: 90vh;
overflow: visible;
}

.bottom-container {
    position: fixed; /* Fixed position to keep it in the same place */
    bottom: 0; /* Position from the bottom */
    left: 0;
    background-color: rgba(238, 238, 161, 0.506);
    width: 200vw;
    height:5vh;
    display: flex; /* Use flexbox to align buttons side by side */
    z-index: 1000;
    padding: 1.5vh 1.5vw;
}


/* Container for the buttons */
.button-container {
    position: fixed; /* Fixed position to keep it in the same place */
    bottom: 1vh; /* Position from the bottom */
    right: 0.5vw; /* Position from the right */
    display: flex; /* Use flexbox to align buttons side by side */
    gap: 0.5vw; /* Space between buttons */
}

/* Style for the buttons */
.button-container button {
    padding: 1.5vh 1.5vw;
    background-color: #4CAF50; /* Green background */
    color: white; /* White text */
    border: none;
    border-radius: 0.01vw;
    font-size: 1.2vw;
    cursor: pointer;
    font-family: monospace;
}


/* Hover effect for the button */
#addButton:hover,
#saveButton:hover,
#loadButton:hover,
#refreshButton:hover,
#exportImageButton:hover {
    background-color: #156a19;
}


/* Form Inputs (text) */
#fileName {
    width: 20vw;
    bottom: 0.5vw;
    left: 0.5vw;
    padding: 0.5vw;
    margin-top: 0.5vw;
    border: 0.1vw solid #cccccc70;
    border-radius: 0.5vw;
    box-sizing: border-box;
    font-family: monospace;
    font-size: 1vw;
}


.year-scale {

/* position */
position: absolute;
left: 0;
top: 0;
bottom: 0;

/* style */
width: 5vw;
background-color: transparent;
padding: 10px;

/* text */
font-size: 2vh;
color: gray;
font-family: monospace;
text-align: center;

}


.date {

/* position */
position: absolute;
/* style */
width: 1000vw;
background-color: transparent;

/* text */
font-size: 1vw;
color: black;
font-family: monospace;
text-align: left;

}

.date:hover {

/* style */
/* background-color: rgba(255, 255, 0, 0.503); */

/* text */
font-size: 2.2vh;
color: black;

}












