body{
    margin: 0;
    padding: 0;
    overflow: auto; /* or scroll */
}


.container{
    position: absolute;
    left: 0;
    width: 1000vw;
    height: 1000vh;
    overflow: auto;
}


.tree {
    position: relative;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    }

.bottom-container {
    position: fixed; /* Fixed position to keep it in the same place */
    bottom: 0; /* Position from the bottom */
    background-color: rgba(238, 238, 161, 0.506);
    width: 200vw;
    height:5vh;
    display: flex; /* Use flexbox to align buttons side by side */
    z-index: 1000;
    padding: 1.5vh 1.5vw;
}


/* Container for the buttons */
.button-container {
    position: fixed; /* Fixed position to keep it in the same place */
    bottom: 1vh; /* Position from the bottom */
    right: 0.5vw; /* Position from the right */
    display: flex; /* Use flexbox to align buttons side by side */
    gap: 0.5vw; /* Space between buttons */
}

/* Style for the buttons */
.button-container button {
    padding: 1.5vh 1.5vw;
    background-color: #4CAF50; /* Green background */
    color: white; /* White text */
    border: none;
    border-radius: 0.01vw;
    font-size: 1.2vw;
    cursor: pointer;
    font-family: monospace;
}


/* Hover effect for the button */
#addButton:hover,
#saveButton:hover,
#loadButton:hover,
#refreshButton:hover,
#exportImageButton:hover {
    background-color: #156a19;
}


/* Form Inputs (text) */
#fileName{
width: 20vw;
bottom: 0.5vw;
left: 0.5vw;
padding: 0.5vw;
margin-top: 0.5vw;
border: 0.1vw solid #cccccc70;
border-radius: 0.5vw;
box-sizing: border-box;
font-family: monospace;
font-size: 1vw;
}

.year-scale {

/* position */
position: absolute;
left: 0;
top: 0;
bottom: 0;

/* style */
width: 5vw;
background-color: transparent;
padding: 10px;

/* text */
font-size: 2vh;
color: gray;
font-family: monospace;
text-align: center;

}


.date {

/* position */
position: absolute;
/* style */
width: 1000vw;
background-color: transparent;

/* text */
font-size: 1vw;
color: black;
font-family: monospace;
text-align: left;

}

.date:hover {

/* style */
/* background-color: rgba(255, 255, 0, 0.503); */

/* text */
font-size: 2.2vh;
color: black;

}


.node{

/* position */
position: absolute;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
justify-content: space-between;
z-index: 20;

/* style */

height: 10vh;
background-color: rgb(216, 236, 204);
padding: 10px;

}

.name {
/* position */
position: absolute;
text-align: center;
display: flex;
justify-content: center;
align-items: center;
bottom: 1vh;

/* style */
color: black;
font-family: monospace;
font-size: 2vh;

}

.node:hover {

/* style */
background-color: yellow;

/* text */
font-size: 2.2vh;
color: black;
cursor: pointer;

}

.triangle {
width: 0;
height: 0;
border-left: 1vw solid transparent;
border-right: 1vw solid transparent;
border-bottom: 2vw solid hotpink; 
position: relative;
top: 3vh; /* Adjust as needed */
transform: translateY(-50%);
}

.square {
width: 2vw;
height: 2vw;
background-color: lightblue;
position: relative;
top: 3vh; /* Adjust as needed */
transform: translateY(-50%);
}

.circle {
width: 2vw;
height: 2vw;
background-color: lime;
border-radius: 50%;
position: relative;
top: 3vh; /* Adjust as needed */
transform: translateY(-50%);
}

.marriageLine {
position: absolute;
border-top: 0.4vw dotted rgba(0, 0, 255, 1); 
transform-origin: top left; 

}

.marriageLine:hover {
/* style */
border-top: 0.6vw dotted hotpink;
cursor: crosshair; 

}

.childLine {
position: absolute;
border-top: 0.4vw dotted rgba(255, 166, 0, 1); 
transform-origin: top left; 

}

.childLine:hover {
/* style */
border-top: 0.6vw dotted hotpink;
cursor: crosshair; 

}


.connector {
/* position */
position: relative;
left: 0;
top: 0;
bottom: 0;
/* style */
width: auto;
background-color: black;
padding: 0.2vh;

}

